{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="VEqKrPDpE371NzQem9yg275L2N5oFwFASgbQoBdtipA" />
    <title>Bachelor's Thesis</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'ursinoalberto/images/favicon/favicon.ico' %}" />
</head>

<style>
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }

    embed {
        width: inherit;
        height: inherit;
    }
</style>

<body>
    <embed src="{% static 'ursinoalberto/pdfs/bachelor_thesis.pdf' %}" type="application/pdf">
</body>

</html>