{% extends "ursinoalberto/base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'ursinoalberto/styles/home.css' %}" />
{% endblock %}

{% block body %}
<div class="header">
  <a class="cv" href="resume.pdf" target="_blank">CV</a>
</div>
<div class="title">Alberto Ursino</div>
<div class="links">
  <a href="https://www.linkedin.com/in/alberto-ursino-8b3466161/" target="_blank"><i
      class="fa-brands fa-linkedin"></i></a>
  <a href="https://github.com/albertoursino" target="_blank"><i class="fa-brands fa-github"></i></a>
</div>
{% endblock %}

<script src="{% static 'ursinoalberto/javascripts/home.js' %}"></script>