@import "keyframes.css";

:root {
  --a: #101011;
  --b: #ebebd3;
  --c: #da4167;
  --d: rgb(0, 91, 110);
  --e: rgb(0, 147, 177);
  --default-box-shadow: 10px 10px 20px 0px var(--b);
  --default-text-shadow: 10px 10px 20px var(--b);
  --default-border: solid 3px var(--b);
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

head {
  display: none;
}

/* https://greggod.medium.com/css-do-not-put-height-100-on-the-body-html-e36bda3551b3 */
body {
  background-color: var(--a);
  font-family: monospace;
  color: var(--b);
  overflow-y: hidden;
  margin: 0;
}

.body-light {
  background-color: white;
  color: var(--a);
}

.landing-page {
  height: 100vh;
  align-content: center;
}

/* Header */

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  padding: 3vh 4vw 0 0;
  animation-name: top-down;
  animation-duration: 2s;
  text-align: right;
}

.header a {
  margin: 0 1vw;
}

.header a:last-child {
  margin-right: 0;
}

/* Title */

.title {
  font-size: 9vw;
  width: 100vw;
  text-align: center;
  animation-name: title-appears;
  animation-duration: 2s;
  box-sizing: border-box;
  padding: 0 2vw 0 2vw;
  position: relative;
  top: -3vh;
}

.sub-title {
  margin-top: 1vh;
  font-size: 3vw;
  font-style: italic;
  width: 100vw;
  text-align: center;
  animation-name: title-appears;
  animation-duration: 2s;
  box-sizing: border-box;
  padding: 0 2vw 0 2vw;
  position: relative;
  top: -3vh;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 0 0 2vh 0;
  overflow: hidden;
}

.footer .link {
  margin: 0 20px;
  position: relative;
  animation-name: upwards;
  animation-duration: 2s;
}

.icons {
  padding: 17px 0 0 0;
}

.icons i {
  margin: 0 10px;
}

a {
  font-size: 3.5vw;
  text-decoration: none;
}

.icons-dark {
  color: var(--a) !important;
}

.icons-dark:hover {
  color: var(--d) !important;
}

.switch-mode-btn {
  cursor: pointer;
}

.github-btn {
  color: var(--b);
}

.linkedin-btn {
  color: var(--b);
}

.github-btn-light {
  color: #2b3137;
}

.linkedin-btn-light {
  color: #0a66c2;
}

.arrow-down {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0 4vw 2vh 0;
  animation-name: upwards;
  animation-duration: 2s;
}

.arrow-down i {
  animation-fill-mode: forwards;
}

.normal-btn {
  color: var(--b);
}

.normal-btn-light {
  color: var(--a);
}

/* About Section */

.about {
  height: 50rem;
}

/* Media rules */

@media screen and (max-width: 800px) {
  .title {
    font-size: 72px;
    overflow: hidden;
  }

  .sub-title {
    font-size: 24px;
  }

  a {
    font-size: 28px;
  }
}