/* defining global variables */
:root {
  --a: #1d1d20;
  --b: #ebebd3;
  --c: #da4167;
  --d: #f4d35e;
  --e: #f78764;
  --default-box-shadow: 10px 10px 20px 0px var(--b);
  --default-text-shadow: 10px 10px 20px var(--b);
  --default-border: solid 3px var(--b);
}

/* head style attributes */
head {
  display: none;
}

/* body style attributes */
body {
  background-color: black;
  font-family: monospace;
  color: var(--b);
  display: block;
  min-height: 100vh;
  /* https://greggod.medium.com/css-do-not-put-height-100-on-the-body-html-e36bda3551b3 */
  margin: 0;
  width: 100vw;
  align-content: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  justify-content: center;
  margin: auto;
}

.header {
  text-align: center;
  width: 100vw;
}

@keyframes title-appears {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title {
  font-size: 9vw;
  width: 100vw;
  text-align: center;
  animation-name: title-appears;
  animation-duration: 2s;
  box-sizing: border-box;
  padding: 0 2vw 0 2vw;
}

.sub-title {
  font-size: 2vw;
  margin-bottom: 2vh;
}

.profile-pic {
  margin-bottom: 3vh;
}

.profile-pic img {
  border-radius: 100%;
  width: 20vw;
  max-width: fit-content;
  border: 0.2vw solid;
}

@keyframes top-down {
  from {
    top: -50rem;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.cv {
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  margin: 2vw 4vw 0 0;
  animation-name: top-down;
  animation-duration: 2s;
}

@keyframes down-top {
  from {
    bottom: -50rem;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.links {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 0 0 2vw 0;
}

.links a {
  margin: 0 20px;
  position: relative;
  animation-name: down-top;
  animation-duration: 2s;
}

.footer {
  font-size: 0.8vw;
  font-style: italic;
  text-align: right;
  margin-left: 70vw;
  margin-bottom: 1em;
}

.icons {
  padding: 17px 0 0 0;
}

.icons i {
  margin: 0 10px;
}

a {
  color: var(--b);
  font-size: 3.5vw;
}

a:visited {
  color: var(--b);
}

a:hover {
  color: #f4d35e;
  text-shadow: -1px 2px 3px var(--c);
}

.divider {
  width: 45%;
  margin-bottom: 3vh;
}

.badges a {
  margin: 0;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 72px;
  }

  a {
    font-size: 28px;
  }
}
