/* defining global variables */
:root {
  --a: #1d1d20;
  --b: #ebebd3;
  --c: #da4167;
  --d: #f4d35e;
  --e: #f78764;
  --default-box-shadow: 10px 10px 20px 0px var(--b);
  --default-text-shadow: 10px 10px 20px var(--b);
  --default-border: solid 3px var(--b);
}

/* head style attributes */
head {
  display: none;
}

/* body style attributes */
body {
  background-color: #331832;
  font-family: "Montserrat-Regular", Helvetica, Arial, sans-serif;
  color: var(--b);
  display: flex;
  min-height: 100vh;
  /* https://greggod.medium.com/css-do-not-put-height-100-on-the-body-html-e36bda3551b3 */
  margin: 0;
  width: 100vw;
  justify-content: space-around;
}

.flex-container {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  justify-content: center;
  margin: auto;
}

.section {
  text-align: center;
  margin: auto;
  font-family: monospace;
}

.header {

  margin-bottom: 1vh;
}

.title {
  font-size: 5vw;
}

.sub-title {
  font-size: 2vw;
  margin-bottom: 2vh;
}

.profile-pic {
  margin-bottom: 3vh;
}

.profile-pic img {
  border-radius: 100%;
  width: 25vw;
  max-width: fit-content;
  border: 0.2vw solid;
}

.cv {
  margin-bottom: 3vh;
}

.cv a {
  color: var(--a);
  text-decoration: none;
  border-radius: 0.5em;
  background: var(--b);
  font-size: 1vw;
  display: block;
  padding: 0.7em;
}

.links {
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  margin-bottom: 1vh;
}

.footer {
  width: 100%;
  font-size: 0.8vw;
  font-style: italic;
  text-align: right;
}

.icons {
  padding: 17px 0 0 0;
}

.icons i {
  margin: 0 10px;
}

a {
  color: var(--b);
  margin: 0 40px;
}

a:visited {
  color: var(--b);
}

.cv a:hover {
  background-color: #f4d35e;
  box-shadow: -1px 2px 3px var(--c);
  color: #1d1d20;
  text-shadow: none;
}

a:hover {
  color: #f4d35e;
  text-shadow: -1px 2px 3px var(--c);
}

.divider {
  width: 75%;
  margin-bottom: 3vh;
}

.badges a {
  margin: 0;
}

@media screen and (max-width: 650px) {
  .profile-pic img {
    width: 162.5px;
  }

  .title {
    font-size: 32.5px;
  }

  .sub-title {
    font-size: 13px;
  }

  .footer {
    font-size: 5.2px;
  }

  .links {
    font-size: 9.75px;
  }

  .cv a {
    font-size: 6.5px;
  }
}